<div class="course-sidebar">
  <h3>Course Features</h3>
  <ul class="scourse_list">
    <li>
      <span class="cside-label"><i class="fa-regular fa-clock"></i> Duration</span>

      <span class="cside-value">24 Hours</span>
    </li>

    <li>
      <span class="cside-label"><i class="fa-regular fa-file"></i> Lesson</span>

      <span class="cside-value">15</span>
    </li>

    <li>
      <span class="cside-label"><i class="fa-solid fa-graduation-cap"></i> Student’s</span>

      <span class="cside-value">150</span>
    </li>

    <li>
      <span class="cside-label"><i class="fa-solid fa-clapperboard"></i> Video</span>

      <span class="cside-value">10 Hours</span>
    </li>

    <li>
      <span class="cside-label"><i class="fa-solid fa-chart-line"></i> Skill Level</span>

      <span class="cside-value">Advanced</span>
    </li>

    <li>
      <span class="cside-label"><i class="fa-solid fa-language"></i> Language</span>

      <span class="cside-value">English</span>
    </li>
  </ul>

  <div class="cd_price">
    $400 / <span>$350</span>
  </div>

  <div class="text-center">
    <a href="{% url 'soru' %}" class="bg_btn bt">Start Quiz</a>
  </div>

  <div class="cd_social">
    <span>Share on:</span>
    <ul>
      <li>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </li>
    </ul>
  </div>
</div>
