{% load static %}

<div class="scourse_meta">
  <div class="smeta">
    <img src="{% static 'assets/img/instructor.jpg' %}" alt="author" />
    <div class="smeta_text">
      <span>Instructor:</span>
      <p>
        <a href="#">Tony Stark</a>
      </p>
    </div>
  </div>

  <div class="smeta">
    <span>Category:</span>
    <p>Web Devilipment</p>
  </div>

  <div class="smeta">
    <span>Review:</span>
    <p>
      <a href="#">
        <span class="rev_icons">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
        </span>
        <span class="rev_content">(5.00)</span>
      </a>
    </p>
  </div>
</div>
