{% load static %}
<div class="rating_item">
  <div class="rating_item_avatar">
    <img src="{% static 'assets/img/review/1.jpg' %}" alt="avatar" />
    <div class="rava_conent">
      <h3>Robert Max</h3>
      <p>Outstanding Course</p>
      <span class="rating_item_ricon">
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
      </span>
    </div>
  </div>

  <div class="rating_item_content">
    <p>" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it "</p>
  </div>
</div>
