{% load static %}
<div class="cd_curriculum">
  <h3>Starting Beginners Level Course</h3>
  <ul>
    <li>
      <span><a href="#"><i class="bx bx-play-circle"></i> Introduction of Editing</a></span> <span class="cd_cur_right"><a href="#" class="cbtn">Preview</a>10 Minutes</span>
    </li>
    <li>
      <span><a href="#"><i class="bx bx-play-circle"></i> Overview of Editing</a></span> <span class="cd_cur_right"><a href="#" class="cbtn">Preview</a>8 Minutes</span>
    </li>
    <li>
      <span><a href="#"><i class="bx bx-folder"></i> Basic Editing Technology</a></span> <span class="cd_cur_right"><a href="#" class="cbtn">Preview</a>7 Minutes</span>
    </li>
    <li>
      <span><i class="bx bx-bulb"></i> Quiz</span> <span class="cd_cur_right"><a href="#" class="cbtn">Preview</a> 5 Minutes</span>
    </li>

    <li>
      <span><a href="#"><i class="bx bx-play-circle"></i> Introduction of Editing</a></span> <span class="cd_cur_right"><a href="#" class="cbtn">Preview</a>10 Minutes</span>
    </li>
    <li>
      <span><a href="#"><i class="bx bx-bulb"></i> Overview of Editing</a></span> <span class="cd_cur_right"><a href="#" class="cbtn">Preview</a>30 Minutes</span>
    </li>
  </ul>
</div>
