<div class="cd_rating_top">
  <div class="cdr_rate_summary">
    <h1>5.0</h1>
    <span class="cdr_rating">
      <i class="bx bxs-star"></i>
      <i class="bx bxs-star"></i>
      <i class="bx bxs-star"></i>
      <i class="bx bxs-star"></i>
      <i class="bx bxs-star"></i>
    </span>

    <p>Total 3 Rating</p>
  </div>

  <div class="cdr_rate_number">
    <ul>
      <li>
        <span class="cdr_rate_star">5</span>
        <span class="cdr_rate_value">
          <span class="rating_width" style="width: 100%;"></span>
          <span class="cdr_rate_count">3 Rating</span>
        </span>
      </li>

      <li>
        <span class="cdr_rate_star">4</span>
        <span class="cdr_rate_value">
          <span class="rating_width" style="width: 80%;"></span>
          <span class="cdr_rate_count">2 Rating</span>
        </span>
      </li>

      <li>
        <span class="cdr_rate_star">3</span>
        <span class="cdr_rate_value">
          <span class="rating_width" style="width: 60%;"></span>
          <span class="cdr_rate_count">1 Rating</span>
        </span>
      </li>

      <li>
        <span class="cdr_rate_star">2</span>
        <span class="cdr_rate_value">
          <span class="rating_width" style="width: 40%;"></span>
          <span class="cdr_rate_count">2 Rating</span>
        </span>
      </li>

      <li>
        <span class="cdr_rate_star">1</span>
        <span class="cdr_rate_value">
          <span class="rating_width" style="width: 20%;"></span>
          <span class="cdr_rate_count">2 Rating</span>
        </span>
      </li>
    </ul>
  </div>
</div>
