{% load static %}

<!-- Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!-- SITE TITLE -->
{% block title %}
  <title>Remax</title>
{% endblock %}
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet" />
<!-- Icon CSS -->
<link rel="stylesheet" href="{% static 'assets/fonts/themify-icons.css' %}" />
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'assets/css/line-awesome.css' %}" />
<link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/fontawesome.css' %}" />
<!-- - owl carousel Css -->
<link rel="stylesheet" href="{% static 'assets/owlcarousel/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/owlcarousel/css/owl.theme.default.min.css' %}" />
<!-- Preloader Css -->
<link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}" />
<!-- jquery-simple-mobilemenu Css -->
<link rel="stylesheet" href="{% static 'assets/css/jquery-simple-mobilemenu.css' %}" />
<!-- magnific-popup Css -->
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" />
<!-- animate Css -->
<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />
<!-- YouTubePopUp Css -->
<link rel="stylesheet" href="{% static 'assets/css/YouTubePopUp.css' %}" />
<!-- Slick Css -->
<link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" />
<!-- slick theme Css -->
<link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}" />
<!-- Style CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
