{% load static %}

<!-- Latest jQuery -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery-simple-mobilemenu.min -->
<script src="{% static 'assets/js/jquery-simple-mobilemenu.js' %}"></script>
<!-- imagesloaded.pkgd -->
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<!-- masonry -->
<script src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
<!-- modernizer JS -->
<script src="{% static 'assets/js/modernizr-2.8.3.min.js' %}"></script>
<!-- owl-carousel min js -->
<script src="{% static 'assets/owlcarousel/js/owl.carousel.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<!-- counterup -->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<!-- jquery appear js -->
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<!-- magnific-popup js -->
<script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
<!-- YouTubePopUp js -->
<script src="{% static 'assets/js/YouTubePopUp.jquery.js' %}"></script>
<!-- yvpopup-active js -->
<script src="{% static 'assets/js/yvpopup-active.js' %}"></script>
<!-- scrolltopcontrol js -->
<script src="{% static 'assets/js/scrolltopcontrol.js' %}"></script>
<!-- Wow js -->
<script src="{% static 'assets/js/wow.js' %}"></script>
<!-- slick js -->
<script src="{% static 'assets/js/slick.js' %}"></script>
