{% load static %}

<div class="container">
  <div class="row">
    <div class="col-10 wow fadeInUp">
      <div class="section-title">
        <span>Our Students Review</span>
        <h2>What Our Students Are Say’s</h2>
      </div>
    </div>

    <div class="col-xl-12 wow fadeIn">
      <div class="review-slider owl-carousel">
        <div class="review-item">
          <div class="rimage">
            <img src="{% static 'assets/img/review/1.jpg' %}" alt="review" />
            <span class="rating-number">5.00</span>
          </div>

          <div class="rev-content">
            <h4>Masum BIllah</h4>
            <p>Donec viverra posuere nibh in dapibus. Pellentesque finibus libero vel tempus</p>

            <div class="rev-rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
          </div>
        </div>
        <!-- End review-item -->

        <div class="review-item">
          <div class="rimage">
            <img src="{% static 'assets/img/review/2.jpg' %}" alt="review" />
            <span class="rating-number">5.00</span>
          </div>

          <div class="rev-content">
            <h4>Ekram Hossain</h4>
            <p>Donec viverra posuere nibh in dapibus. Pellentesque finibus libero vel tempus</p>

            <div class="rev-rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
          </div>
        </div>
        <!-- End review-item -->

        <div class="review-item">
          <div class="rimage">
            <img src="{% static 'assets/img/review/3.jpg' %}" alt="review" />
            <span class="rating-number">5.00</span>
          </div>

          <div class="rev-content">
            <h4>Motasim Billah</h4>
            <p>Donec viverra posuere nibh in dapibus. Pellentesque finibus libero vel tempus</p>

            <div class="rev-rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
          </div>
        </div>
        <!-- End review-item -->

        <div class="review-item">
          <div class="rimage">
            <img src="{% static 'assets/img/review/1.jpg' %}" alt="review" />
            <span class="rating-number">5.00</span>
          </div>

          <div class="rev-content">
            <h4>Masum BIllah</h4>
            <p>Donec viverra posuere nibh in dapibus. Pellentesque finibus libero vel tempus</p>

            <div class="rev-rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
          </div>
        </div>
        <!-- End review-item -->

        <div class="review-item">
          <div class="rimage">
            <img src="{% static 'assets/img/review/3.jpg' %}" alt="review" />
            <span class="rating-number">5.00</span>
          </div>

          <div class="rev-content">
            <h4>Motasim Billah</h4>
            <p>Donec viverra posuere nibh in dapibus. Pellentesque finibus libero vel tempus</p>

            <div class="rev-rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
          </div>
        </div>
        <!-- End review-item -->
      </div>
    </div>
  </div>
</div>
