{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "includes/header.html" %}
<section class="login_register section-padding">
    <div class="container">
        <div class="row">				
            <div class="col-lg-10 offset-lg-1 col-xs-12 wow fadeIn">
                <div class="register">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="login_register_title">{{ list_title }}</h4>
                        <a href="{% url 'create_company' %}">Şirket Ekle</a>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                {% for field in data.0.keys %}
                                    {% if field|title == "Created_At" %}
                                        <th class="text-center">Oluşturma Tarihi</th>
                                    {% elif field|title == "Name" %}
                                        <th class="text-center">Ad</th>
                                    {% elif field|title == "Last_Updated_At" %}
                                        <th class="text-center">Son Güncellenme Tarihi</th>
                                    {% elif field|title == "Is_Active" %}
                                        <th class="text-center">Durum</th>
                                    {% else %}
                                        <th class="text-center">{{ field|title }}</th>
                                    {% endif %}
                                {% endfor %}
                                <th class="text-center">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in data %}
                                <tr id="obj-{{ obj.id }}">
                                    {% for value in obj.values %}
                                        <td class="text-center">
                                            {% if value|slice:":13" == 'company_logos' %}
                                                <a href="http://127.0.0.1:8000/media/{{ value }}" target="_blank">Logo</a>
                                            {% else %}
                                                {{ value }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <a href="{% url 'update_company' obj.id %}" class="btn btn-sm btn-info">Güncelle</a>
                                            </div>
                                            <div class="col">
                                                <button hx-get="{% url 'delete_company' obj.id %}" hx-target="#obj-{{obj.id}}" hx-swap="innerHTML" class="btn btn-sm btn-danger">   
                                                    {% if obj.is_active == True %}
                                                        Sil
                                                    {% else %}
                                                        Yükle
                                                    {% endif %}
                                                </button>
                                            </div>
                                            <div class="col-5">
                                                <a href="{% url 'create_presentation' obj.id %}" class="btn btn-sm btn-success">Sunumlar</a>     
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
{% endblock content %}
